.container{
  background-color: #415a77;
  width: 500px;
  margin: 220px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 200px;
  border-radius: 20px;

  justify-content: space-evenly;
}
body{
  background-color: #0d1b2a;
}
input{
  font-size: 15px;
  padding: 5px 10px;
  outline: none;
  border: 2px solid #415a77;
  border-radius: 20px;
  font-weight: 700;
}
select{
  font-size: 15px;
  border-radius: 10px;
  padding: 5px;
}